<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Congrats Email</title>

    <style>
        h2 {
            color: #f07f33;
        }
    </style>
</head>

<body>
    <h2>Congrats {{name}}! </h2>
    <p>You won a free beer.</p>
</body>

</html>