<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello Email</title>

    <style>
        h2 {
            color: #034703;
        }
    </style>
</head>

<body>
    <h2>Hi {{name}}! </h2>
    <p>This email was sent with the <a href="https://github.com/jabriceno/email-sender">email-sender project</a> at <a href="https://github.com/jabriceno/">Jesus' github page</a>.</p>
</body>

</html>